
body{
  height: 100vh;
}


.main{
  height: 100vh;
  background: #544c59;
  border: 5px solid #211129;
  margin: 0 20%;
  border-radius: 5px;

  .menu{
    margin: 0 auto;
    padding-bottom: 20px;
    padding-top: 20px;

    .clock{
    }
    .task-meter{
    }

    .task-creator{
      margin-left: 5%;
      margin-right: 5%;
      border-radius: 5px;
      border: 1px solid #cccccc;

      .task-text{
        background: #574b65;
        padding: 10px;
        color: #fff;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
      }

      .task-input{
        padding-left: 10px;
      }

      .button-add{
        background: #22a16b;
        padding: 10px;
        color: #fff;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    }
  }

  .tasks{
    background: #ddd;
  }

}


@media (max-width: 768px){
  body .main{
    margin: 0 auto;
  }
}
